<div>
    <a href="/home">Volver al inicio</a><br><br>
    <a href="/products">Ver lista de productos</a>
    <h2>Tu Carrito:</h2>
    <span id="cart" cid={{cid}}></span>
    <h3>{{text}}</h3>
    {{#each cartProducts}}
    <div>
        <div>
            <p>---------------------------</p>
            <p>Producto (id): {{this.product}}</p>
            <p>Cantidad: {{this.quantity}}</p>
        </div>
        <button class="btnsDelete"  pid={{this.product}}>Delete from cart</button>
    </div>
    {{/each}}
    <div style="visibility: {{visibility}}"  >
    <p>---------------------------</p>
    <h3>Subtotal: ${{subtotal}}</h3>
    <button id="clean">Vaciar carrito</button><br><br>
    <button id="purchase" >Comprar</button>
    </div>
</div>

<script src="/daos/mongoManagers/carts.manager.js"></script>
