<div>
    <span id="cart" cid={{user.cart}}></span>
    <a href="/home">Volver al inicio</a><br><br>
    <a href="/carts/{{user.cart}}">Ir al carrito</a><br>
    <h2>Products</h2>
    {{#each filteredProducts}}
    <div>
        <h2>Product: {{this.title}}</h2>
        <div>
            <h3>Price: {{this.price}}</h3>
            <p>Id: {{this._id}}</p>
            <p>Description: {{this.description}}</p>
            <p>Category: {{this.category}}</p>
            <p>Code: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
            {{#if this.hasStock}}
                <button class="btnAgregar" id="btnAddToCart" pid={{this._id}}>Add to cart</button>
            {{else}}
                <button class="btnAgregar" id="btnAddToCart" pid={{this._id}} disabled="true">Add to cart</button>
            {{/if}}

    </div>
    {{/each}}
</div>

<script src="/src/daos/mongoManagers/products.manager.js"></script>