<div>
    <h3>{{user.rol}}</h3>
    <h1>Welcome {{user.name}}</h1>
    <h2>Products</h2>
    <a href="http://localhost:8080/logout">LogOut</a>
    {{#each info}}
    <div>
        <h2>Product: {{this.title}}</h2>
        <div>
            <p>Id: {{this._id}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p>Code: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
        <button class="btnAgregar">Add to cart</button>
    </div>
    {{/each}}
</div>


<script src="/daos/mongoManagers/products.manager.js"></script>